<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Title</title>
</head>
<body onload="openSystem()">

</body>
<script language='javascript' type='text/javascript'>
    function openSystem() {
        var width = window.screen.width;
        var height = window.screen.height;
        var now = new Date();
        var number = now.getSeconds();
        var winName = String(number);
        window.opener = null;
        window.open("","_self");
        window.close();
        var features = "fullscreen=1,resizable=yes,scrollbars=yes,status=no,toolbar=no,menubar=no,location=no,top=0px,left=0px,width=" + width + "px,height=" + height + "px";
        var rulewin = window.open("/loadLogin", winName, features);
        rulewin.focus();
    }
</script>
</html>