<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AppletPageElementContentMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.AppletPageElementContent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="applet_id" jdbcType="INTEGER" property="appletId"/>
        <result column="file_id" jdbcType="INTEGER" property="fileId"/>
        <result column="page_id" jdbcType="INTEGER" property="pageId"/>
        <result column="element_id" jdbcType="INTEGER" property="elementId"/>
        <result column="element_json" jdbcType="VARCHAR" property="elementJson"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, applet_id, file_id, page_id, element_id, element_json, update_time
  </sql>
    <select id="selectByExample" parameterType="com.example.demo.entity.AppletPageElementContentExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from applet_page_element_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="PageSuffix"/>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from applet_page_element_content
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from applet_page_element_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.example.demo.entity.AppletPageElementContentExample">
        delete from applet_page_element_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.example.demo.entity.AppletPageElementContent">
    insert into applet_page_element_content (id, applet_id, file_id,
      page_id, element_id, element_json,
      update_time)
    values (#{id,jdbcType=INTEGER}, #{appletId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER},
      #{pageId,jdbcType=INTEGER}, #{elementId,jdbcType=INTEGER}, #{elementJson,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyProperty="id" parameterType="com.example.demo.entity.AppletPageElementContent"
            useGeneratedKeys="true">
        insert into applet_page_element_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appletId != null">
                applet_id,
            </if>
            <if test="fileId != null">
                file_id,
            </if>
            <if test="pageId != null">
                page_id,
            </if>
            <if test="elementId != null">
                element_id,
            </if>
            <if test="elementJson != null">
                element_json,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="appletId != null">
                #{appletId,jdbcType=INTEGER},
            </if>
            <if test="fileId != null">
                #{fileId,jdbcType=INTEGER},
            </if>
            <if test="pageId != null">
                #{pageId,jdbcType=INTEGER},
            </if>
            <if test="elementId != null">
                #{elementId,jdbcType=INTEGER},
            </if>
            <if test="elementJson != null">
                #{elementJson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.example.demo.entity.AppletPageElementContentExample"
            resultType="java.lang.Long">
        select count(*) from applet_page_element_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update applet_page_element_content
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.appletId != null">
                applet_id = #{record.appletId,jdbcType=INTEGER},
            </if>
            <if test="record.fileId != null">
                file_id = #{record.fileId,jdbcType=INTEGER},
            </if>
            <if test="record.pageId != null">
                page_id = #{record.pageId,jdbcType=INTEGER},
            </if>
            <if test="record.elementId != null">
                element_id = #{record.elementId,jdbcType=INTEGER},
            </if>
            <if test="record.elementJson != null">
                element_json = #{record.elementJson,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update applet_page_element_content
        set id = #{record.id,jdbcType=INTEGER},
        applet_id = #{record.appletId,jdbcType=INTEGER},
        file_id = #{record.fileId,jdbcType=INTEGER},
        page_id = #{record.pageId,jdbcType=INTEGER},
        element_id = #{record.elementId,jdbcType=INTEGER},
        element_json = #{record.elementJson,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.AppletPageElementContent">
        update applet_page_element_content
        <set>
            <if test="appletId != null">
                applet_id = #{appletId,jdbcType=INTEGER},
            </if>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=INTEGER},
            </if>
            <if test="pageId != null">
                page_id = #{pageId,jdbcType=INTEGER},
            </if>
            <if test="elementId != null">
                element_id = #{elementId,jdbcType=INTEGER},
            </if>
            <if test="elementJson != null">
                element_json = #{elementJson,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.AppletPageElementContent">
    update applet_page_element_content
    set applet_id = #{appletId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER},
      page_id = #{pageId,jdbcType=INTEGER},
      element_id = #{elementId,jdbcType=INTEGER},
      element_json = #{elementJson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <sql id="PageSuffix">
        <if test="page != null">
            limit #{page.rowStart},#{page.pageSize}
        </if>
    </sql>
</mapper>
